<!--index.html-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified bootstrap CSS -->
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type = "text/css" href = "{{url_for('static',filename='styles/main.css')}}">
    <link rel="stylesheet" href = "https://fonts.googleapis.com/css?family=Lato">
    <title>Creating a Full-Stack Python Application with NPM, React.js and Webpack</title>
  </head>
  <body>
    <div id = "wrapper">
      <div id = "header">
        <img id = "logo" src="{{url_for('static',filename='img/haiku.png')}}" alt = "haiku logo" class = "center">
        <h2 id = "description">Welcome to #haiku! Input an image URL to generate a haiku based on recent tweets containing the word.</h2>
      </div>
      <!-- <div id = "imgUploader">
        <input type="file" />
        <img id="target" height={200} />
      </div> -->
      <form method = POST action = "/addURL/">
        <div class="form-group">
          <input type="text" class="form-control" id="keyword" placeholder="Enter image URL here">
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <div id = "haiku-section">
        <h3 id = "haiku-here">{{haiku}}</h3>
      </div>
    </div>
    <script src="dist/bundle.js" type="text/javascript"></script>
  </body>
</html>
